<!DOCTYPE html>
<html>
    <head>
        <title>Uri 3000</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css">
    </head>
    <body>
        <div class="container">
            <form id="f" method="post" action="/">
            <div class="field">
                <label class="label">Username</label>
                <input class="input" name="username" id="username" type="text" placeholder="Username"/>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <input class="input" name="pass" id="pass" type="text" placeholder="Password"/>
            </div>
            <div class="field">
                <label class="label">Round Number</label>
                <input class="input" name="rounds" id="rounds" type="text" placeholder="Round Number"/>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <input type='submit' class="button is-primary" text="Send"></input>
                </div>
            </div>
        </div>
    </body>
</html>