<!DOCTYPE html>
<html>
    <head>
        <title>Planet-Wars Client</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css">
    </head>
    <body>
        <section class="hero is-danger is-fullheight">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <span class="icon">
                        <i class="fa fa-exclamation-circle is-large"></i>
                    </span>
                    <h1 class="title">Error</h1>
                    <h2 class="subtitle">Please try again later...</h2>
                    <a href="/">Back To Form</a>
                </div>
            </div>
        </section>
    </body>
</html>