<!DOCTYPE html>
<html>
    <head>
        <title>Planet-Wars Client</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.min.css">
    </head>
    <body>
        <div class="hero is-info">
            <div class="container">
                <h1 style="padding: 30px" class="title">
                    Magshimim Planet-Wars
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="is-half is-center">
                <form id="f" method="post" action="/" style="padding:60px">
                    <div class="field">
                        <label class="label">Username</label>
                        <input class="input" name="username" id="username" type="text" placeholder="Username"/>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <input class="input" name="pass" id="pass" type="text" placeholder="Password"/>
                    </div>
                    <div class="field">
                        <label class="label">Round Number</label>
                        <input class="input" name="rounds" id="rounds" type="text" placeholder="Round Number"/>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <input type='submit' class="button is-info" value="Send"></input>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>